In [14]:
import pandas as pd
url = "https://github.com/vizydrop/data-samples/blob/master/flowers.csv"
df = pd.read_csv("flowers.csv")
df.head()

   sepal length  sepal width  petal length  petal width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           NaN          3.6           1.4          0.2  setosa

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  147 non-null    float64
 1   sepal width   148 non-null    float64
 2   petal length  148 non-null    float64
 3   petal width   148 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [16]:
df.describe()

       sepal length  sepal width  petal length  petal width
count    147.000000   148.000000    148.000000   148.000000
mean       5.844898     3.053378      3.789189     1.195270
std        0.832819     0.437123      1.756470     0.765172
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [17]:
df.iloc[:, :-1].mean()

sepal length    5.844898
sepal width     3.053378
petal length    3.789189
petal width     1.195270
dtype: float64

In [18]:
df.iloc[:, :-1].median()

sepal length    5.8
sepal width     3.0
petal length    4.4
petal width     1.3
dtype: float64

In [19]:
df.iloc[:, :-1].std()

sepal length    0.832819
sepal width     0.437123
petal length    1.756470
petal width     0.765172
dtype: float64

In [20]:
df.loc[df["sepal length"].isna()]

     sepal length  sepal width  petal length  petal width    species
4             NaN          3.6           1.4          0.2     setosa
134           NaN          2.6           5.6          1.4  virginica
148           NaN          3.4           5.4          2.3  virginica

In [22]:
df.loc[df["sepal width"].isna()]

     sepal length  sepal width  petal length  petal width    species
40            5.0          NaN           1.3          0.3     setosa
143           6.8          NaN           5.9          2.3  virginica

In [23]:
df.loc[df["petal length"].isna()]

    sepal length  sepal width  petal length  petal width species
9            4.9          3.1           NaN          0.1  setosa
47           4.6          3.2           NaN          0.2  setosa

In [36]:
new_df = df.iloc[:, :-1] 
new_df.fillna(new_df.iloc[:, :].mean(), inplace=True)

In [37]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [40]:
df.isna().sum().sum()

9